In [63]:
# list
# list is a collection of items in a particular order
# list is mutable
# list is ordered
# list is indexed
# list can contain different data types
# list can be nested
# list can be sliced
# list can be concatenated
# list can be sorted    
# list can be reversed
# list can be copied
# list can be cleared
# list can be appended
# list can be extended
# list can be inserted
# list can be removed
# list can be popped
# square bracket [] is used to define a list

lis=[]
print(type(lis))

<class 'list'>

In [64]:
lis=[2,1,3,4]
print(lis)

[2, 1, 3, 4]

In [65]:
names=["shubham","sagar","sahil",1,1.5,True]
print(names)
names.append("rahul")
print(names)
names.insert(0,"rahil")
print(names)

['shubham', 'sagar', 'sahil', 1, 1.5, True]
['shubham', 'sagar', 'sahil', 1, 1.5, True, 'rahul']
['rahil', 'shubham', 'sagar', 'sahil', 1, 1.5, True, 'rahul']

In [66]:
# Acessing list items
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [67]:
print(fruits[0])
print(fruits[3])
fruits[-1]

apple
orange

'mango'

In [68]:
fruits[1:5]

['banana', 'cherry', 'orange', 'kiwi']

In [69]:
fruits[1:-1]

['banana', 'cherry', 'orange', 'kiwi', 'melon']

In [70]:
fruits[-1:-5:-1]

['mango', 'melon', 'kiwi', 'orange']

In [71]:
# Modifying the list elements
print(fruits)
fruits[0]="grapes"
print(fruits)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['grapes', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [72]:
fruits[1:]="watermelon"

In [73]:
fruits

['grapes', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [74]:
fruits=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [75]:
# list Methods
# append() - Adds an element at the end of the list
# clear() - Removes all the elements from the list
# copy() - Returns a copy of the list
# count() - Returns the number of elements with the specified value
# extend() - Add the elements of a list (or any iterable), to the end of the current list
# index() - Returns the index of the first element with the specified value

In [76]:
fruits.insert(1,"watermelon")

In [77]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [78]:
fruits.append("apple") # removing the first occurance of an item

In [79]:
fruits

['apple',
 'watermelon',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'apple']

In [81]:
fruits.remove("apple")

In [82]:
fruits

['watermelon', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [83]:
## Remove and return the last element from the list
popped_fruits=fruits.pop()
print(popped_fruits)
fruits

mango

['watermelon', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [84]:
index = fruits.index("watermelon")
print(index)

0

In [85]:
fruits

['watermelon', 'banana', 'cherry', 'orange', 'kiwi', 'melon']

In [87]:
fruits.append("banana")

In [88]:
fruits.count("banana")

2

In [91]:
fruits.sort()

In [92]:
fruits

['banana', 'banana', 'cherry', 'kiwi', 'melon', 'orange', 'watermelon']

In [93]:
fruits.clear()
print(fruits)

[]

In [98]:
# Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[2:])
print(numbers[-3:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[3, 4, 5, 6, 7, 8, 9, 10]
[8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [101]:
numbers[1::]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [102]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [104]:
#Iterating over a list
fruits=["apple", "banana", "cherry", "watermelon", "melon", "mango"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry
watermelon
melon
mango

In [106]:
# Iterating with index
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 banana
2 cherry
3 watermelon
4 melon
5 mango

In [109]:
# List Comprehension

#Normal
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[y**2 for y in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List Comprehension
Basics Syntax : [expression for item in iterable]

with conditionals logic : [expression for item in iterable if condition]

Nested list comprehension : [expression for item1 in iterable1 for item2 in iterable2 if condition]

In [115]:
# Basic list comprehension
square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [118]:
# Conditional list comprehension
even = [num for num in range(10) if num%2==0]
print(even)

[0, 2, 4, 6, 8]

In [120]:
# NORMLY
lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [124]:
# Nested List Comprehension
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [125]:
# list Comprehension with Function call
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths) # output: [5, 5, 6, 4, 15]

[5, 5, 6, 4, 13]

### Conclusion
List comprehension is a powerfull AND concise way to create lists in Python.

It allows you to generate a new list by applying an expression to each item in an existing iterable (such as a list or range) and optionally filtering the items based on a condition.

 List comprehension can make your code more readable and efficient, especially when working with large datasets.